<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<h2>Recent Work</h2>
		<div id="works" class="row">
			<div class="col-md-6">
				<div class="well">
					<%= link_to image_tag('tokyowheel_small.png'), "https://www.tokyowheel.com" %>
					<h4>Tokyowheel</h4>
					<h5 class="text-muted">High-performance Carbon Wheels Store</h5>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<%= link_to image_tag('versaccounts_small.png'), "http://www.versaccounts.com" %>
					<h4>VersAccounts</h4>
					<h5 class="text-muted">Cloud ERP & Accounting</h5>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<%= link_to image_tag('edools_small.png'), "http://www.edools.com/en" %>
					<h4>Edools</h4>
					<h5 class="text-muted">Distance Learning Platform</h5>
				</div>
			</div>
		</div>
		<hr>
		<h2>Testimonials</h2>
		<p><i>"Augusto is a very dedicated and talented professional with software development tools. I believe it is an important addition to any project." - <%= link_to "Thiago Diogo", "https://br.linkedin.com/in/thiagodiogo" %></i></p>
		<p><i>"He is able to think about the problem when requirements are not clear and propose new solutions." - <%= link_to "Rafael Carvalho", "https://br.linkedin.com/in/rafaelmcarvalho" %></i></p>
	</div>
	<div class="col-md-2">
		<h1>Augusto Zangrandi</h1>
		<h3 class="text-muted">Ruby on Rails developer</h3>
		<hr>
		<h5 class="text-muted">I'm a Rio de Janeiro - Brazil based Ruby on Rails developer with over 4 years experience.</h5>
		<hr>
		<h4>Links</h4>
		<h5><%= link_to "Github", "https://www.github.com/zangrandi" %></h5>
		<h5><%= link_to "Linkedin", "https://br.linkedin.com/in/augusto-zangrandi-0a263634" %></h5>
		<h5><%= link_to "Facebook", "https://www.facebook.com/augusto.zangrandi" %></h5>
	</div>
</div>